@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700');

:root {
    --prim-dark-bgcolor: #247BA0;
    --second-light-bgcolor: #FFE066;
    --second-dark-bgcolor: #9E8C43;
    --prim-font-color: #fff;
    --second-font-color: #909090;
    --prim-font-family: 'Roboto', 'Arial', sans-serif;
    --second-font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(to right, var(--second-dark-bgcolor), var(--prim-dark-bgcolor));
    font-family: var(--prim-font-family);
    color: var(--prim-font-color);
    font-size: 1.2rem;
    line-height: 2rem;
}

.initial {
    display: none;
}

a {
    color: var(--prim-font-color);
    text-decoration: none;
}

/*----------------------main----------------------------*/

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.today__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

.weather__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


/*-------------------header------------*/

.main__header {
    width: 100%;
    min-height: 5rem;
    text-align: center;
    padding: 2rem;
}

.city__icon,
.city__name {
    display: inline-block;
}


.settings__item a {
    display: inline-block;
    width: 200px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

/*-----------------------------basics---------*/


.main__basic {
    width: 50%;
    padding-bottom: 30%;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
        
}

.basic__icon {
    margin: 0 2rem;
}

.basic__icon img {
    height: 170px;
    width: auto;
}

.basic__description {
    font-size: 3rem;
    text-align: right;
}

.basic__temperature {
    position: relative;
    right: 0;
    top: 3.5rem;
    text-align: right;
    font-size: 2.5rem;
}
#basic__temperature {
    font-size: 5rem;
}


/*----------------------------details-----------------------*/

.main__details { 
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5%;
    padding-left: 2rem;
    
}

.details {
    
    margin-left: 3rem;
}

.details__item {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    padding: 0 1rem;
    text-align: right;
}

.details__icon,
.details__description {
    display: inline-block;
    
}

.details__icon {
        
}

.details__description {
    line-height: 43.5px;
    margin: 0 1rem;
}

/*----------------------------aside ------------------------------*/

.main__aside {
    width: 30%;
    min-width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--prim-dark-bgcolor);
}

.main__aside > div {}

.main__aside>div a:hover {
    background-color: var(--prim-dark-bgcolor);
}

/*----------------------settings-------------------------*/

.aside__settings {
    background-color: var(--second-dark-bgcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings__icon,
.settings__list {
    flex-grow: 1;
}

.settings__icon img {
    width: 70%;
    height: auto;
    filter: opacity(0.5);
}


/*--------------------five day weather------------------*/

.aside__five {
    background-color: var(--prim-dark-bgcolor);
}

.five__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px var(--prim-font-color);
    padding: 1rem;
}

.five__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.five__icon {
    width: 25%;
}
.five__icon img {
    width: 75%;
    height: auto;
}

/*-----------------------------form-----------------------------------*/
form {
    display: inline-block;
}


/*----------------------------media queries--------------------------------*/

@media (max-width: 1150px) {


}



@media (max-width: 1000px) {

}



@media (max-width: 400px) {


}