@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700');

:root {
    --prim-dark-bgcolor: #247BA0;
    --prim-ultradark-bgcolor: #164A61;
    --second-light-bgcolor: #FFE066;
    --second-dark-bgcolor: #9E8C43;
    --prim-font-color: #fff;
    --second-font-color: #909090;
    --prim-font-family: 'Roboto', 'Arial', sans-serif;
    --second-font-family: 'Roboto Condensed', 'Arial', sans-serif;
    --prim-line-color:#97CFE8;
    --second-line-color: #CFC6A1;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, var(--second-dark-bgcolor), var(--prim-dark-bgcolor));
    font-family: var(--prim-font-family);
    color: var(--prim-font-color);
    font-size: 1.2rem;
    line-height: 2rem;
}



a {
    color: var(--prim-font-color);
    text-decoration: none;
}

/*----------------------main----------------------------*/

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.today__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

.main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.weather__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


/*-------------------header------------*/

.main__header {
    width: 100%;
    min-height: 5rem;
    text-align: center;
    padding: 2rem;
}

.city__icon,
.city__name {
    display: inline-block;
}

.city__icon img {
    height: 1.5rem;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}

.settings__item a {
    display: inline-block;
    width: 200px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

/*-----------------------------basics---------*/


.main__basic {
    width: 50%;
    padding-bottom: 30%;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
        
}

.basic__icon {
    margin: 0 2rem;
}

.basic__icon img {
    height: 170px;
    width: auto;
}

.basic__description {
    font-size: 3rem;
    line-height: 3rem;
    text-align: right;
}

.basic__temperature {
    position: relative;
    right: 0;
    top: 3.5rem;
    text-align: right;
    font-size: 2.5rem;
}
#basic__temperature {
    font-size: 5rem;
}


/*----------------------------details-----------------------*/

.main__details { 
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5%;
    padding-left: 2rem;
    
}

.details {
    
    margin-left: 3rem;
}

.details__item {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    padding: 0 1rem;
    text-align: right;
}

.details__icon,
.details__description {
    display: inline-block;
    
}

.details__description {
    line-height: 43.5px;
    margin: 0 1rem;
}

/*----------------------------aside ------------------------------*/

.main__aside {
    width: 30%;
    min-width: 355px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--prim-dark-bgcolor);
}

.main__aside>div a:hover {
    background-color: var(--prim-dark-bgcolor);
}

/*----------------------settings-------------------------*/

.aside__settings {
    background-color: var(--second-dark-bgcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings__icon,
.settings__list {
    flex-grow: 1;
}

.settings__icon img {
    width: 70%;
    height: auto;
    filter: opacity(0.5);
}


/*--------------------five day weather------------------*/

.aside__five {
    background-color: var(--prim-dark-bgcolor);
}

.five__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px var(--prim-line-color);
    padding: 1rem;
}

.five__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.five__icon {
    width: 25%;
}
.five__icon img {
    width: 75%;
    height: auto;
}

/*-----------------------------form-----------------------------------*/

form {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 999;
}

form input {
    width: 250px;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    border-left: solid 1px var(--second-line-color);
    font-family: var(--prim-font-family);
    font-size: 1.2rem;
    line-height: 2rem;
}

input[type="text"] {
    color: var(--second-font-color);
}

input[type="submit"] {
    background: var(--second-dark-bgcolor);
    border-bottom: solid 1px var(--second-line-color);
    color: var(--prim-font-color);
    font-weight: bold;
    text-align: center;
}

input[type="submit"]:hover {
    background: var(--prim-ultradark-bgcolor);
    color: var(--prim-line-color);
}

.suggestions {
    background-color: var(--second-dark-bgcolor);
}

.suggestions li {
    border-left: solid 1px var(--second-line-color);
    border-bottom: solid 1px var(--second-line-color);
    padding: 0.5rem;
}

.suggestions li:first-child {
    border-top: solid 1px var(--second-line-color);
}

.suggestions li:hover {
    background-color: var(--prim-dark-bgcolor);
    cursor: pointer;
}

/*----------------------------initial screen--------------------------------*/
.initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--second-dark-bgcolor), var(--prim-dark-bgcolor));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.initial__screen {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0.5rem;
}

.initial__location {
    margin-bottom: 4%;
}

.initial__cityinput {
    width: 350px;
    margin: 0;
    border: 0;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0.5rem;
    border-left: solid 1px var(--second-line-color);
    font-family: var(--prim-font-family);
}

.initial__button {
    width: 350px;
    background: var(--second-dark-bgcolor);
    border-bottom: solid 1px var(--second-line-color);
    color: var(--prim-font-color);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0.5rem;
}

.initial__button:hover {
    background: var(--prim-ultradark-bgcolor);
    color: var(--prim-line-color);
}

/*----------------------------loading screen--------------------------------*/
.loading__screen{
    width: 100%;
    height: 100%;
    background-color: var(--prim-dark-bgcolor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.loading__box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
}
.loading__box .l {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: ro 2s infinite;
}

.loading__box .loading__object1 {
    border-color: white;
    width: 120px;
    height: 120px;    
}

.loading__box .loading__object2 {
    border-color: white;
    width: 100px;
    height: 100px;
    animation-delay: 0.2s;
}

.loading__box .loading__object3 {
    border-color: white;
    width: 80px;
    height: 80px;
    animation-delay: 0.4s;
}

.loading__box .loading__object4 {
    border-color: white;
    width: 60px;
    height: 60px;
    animation-delay: 0.6s;
}

@keyframes ro{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


/*----------------------------media queries--------------------------------*/


@media (max-width: 1290px) {

    .today__wrapper {
        justify-content: flex-start;
    }

    .weather__wrapper {
        flex-direction: column;
        justify-content: space-around;
        
    }

    
    .main__details,
    .main__basic {
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
    }

    .basic__icon {
        margin: 0 0 0 1rem;
    }

    .temperature__wrapper {
        margin: 0 1rem;
    }

    .main__details {
        margin-top: 4rem;
    }

    .details {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .details__item {
        display: inline;
        width: 50%;
        
    }

}



@media (max-width: 900px) {

    form {
        display: none;
    }

    body {
        background-image: linear-gradient(to bottom, var(--second-dark-bgcolor), var(--prim-dark-bgcolor));
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .main {
        flex-direction: column;
        justify-content: space-between;
    }

    .main__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .today__wrapper,
    .main__aside {
        width: 100%;
        min-height: auto;
    }
    .today__wrapper {
        flex-grow: 1;
    }

    .weather__wrapper {
        flex-direction: row;
        flex-grow: 1;
        
    }
    .main__basic {
        width: 60%;
        align-self: flex-start;
    }
    .main__details {
        width: 40%;
        margin-top: 1rem;
        justify-content: flex-end;
        align-items: center;
    }
    .basic__icon {
        align-self: flex-end;
    }

    .basic__icon img {
        height: auto;
        width: 90px;
    }

    .basic__description {
        font-size: 2rem;
        line-height: 2rem;
    }
    
    .basic__temperature {
        top: 1.5rem;
        font-size: 1.5rem;
    }
    #basic__temperature {
        font-size: 2rem;
    }
    .details {
        width: auto;
    }
    .details__item {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-bottom: 0.2rem;
        padding: 0;
        text-align: right;
        width: auto;
    }

    .details__icon {
        height: 20px;
        width: auto;
    }

    .details__icon img {
        height: 100%;
        width: auto;
        margin-top: 0.2rem;
    }
    .details__description {
        line-height: 2rem;
        margin: 0 0.5rem;
    }

    .five__wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        font-size: 1rem;
    }
    .five__data {
        line-height: 2rem;
    }
    .five__item {
        padding: 0.5rem 1rem;
    }
    .five__icon {
        width: 30%;
        height: 2rem;
        text-align: right;
    }
    .five__icon img {
           width: auto;
           height: 100%;
    }
    
    .aside__settings {
        display:none; /*to switch*/
    }
    .settings__icon img {
        width: auto;
        height: 70%;
    }
}



@media (max-width: 430px) {

    .weather__wrapper {
        flex-direction: column;
    }
    .main__basic,
    .main__details {
        width: 100%;
    }
    .main__details {
        align-items: flex-end;
    }
    .details__item {
        display: inline-block;
    }

    .main__aside {
        min-width: auto;
    }
    .five__data {
        line-height: 1rem;
    }
    .five__item {
        
        flex-direction: row;
        justify-content: space-between;
    }

    .five__wrapper {
        width: auto;
        flex-direction: column;
        justify-content: space-around;
    }
}